// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{

  * {
    text-decoration: none;
  }
  div.actions{
    margin-bottom: 10px;
  }
  .row {
    display: flex;
    /*文字が折り返されるように変更*/
    flex-wrap: wrap;
    /*rowのサイズを変更*/
    margin-right: -15px;
    margin-left: -15px;
  }
  .div{
    display:block;
  }

  .field{
    /*フォームのサイズを変更*/
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    /*フォーム内に余白を追加*/
    padding: 0.375rem 0.75rem;
  }
}
